.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body, html {height: 100%; }

.container {
    padding: 100px;
    height: 100%;
    position: relative;
    text-align: center;
}

.time {
    font-size: 75px;
}
